html {
	font-size: 10px;
}

.center {
	text-align: center;
}

.section {
	position: relative;
	width: 100%;
}

.section-features {
	background-color: #ffffff;
	padding: 55px 0;
}

.section-steps {
	background-color: #ffffff;
	padding: 55px 0;
}

.section__title {
	color: #272727;
	font-family: 'Roboto', Arial, sans-serif;
	margin-bottom: 70px;
}

.title {
	margin: 0;
	padding: 0;
	line-height: 1.25;
	font-weight: 400;
}

.title-h2 {
	font-size: 48px;
	font-weight: 300;
}

.features__item {
	font-family: 'Roboto', Arial, sans-serif;
	text-align: center;
}

.features__pic {
	display: inline-block;
	vertical-align: top;
	line-height: 0;
	margin-bottom: 30px;
	width: 100%;
}

.features__pic > img {
	width: 100%;
	max-width: 180px;
	height: auto;
}

.features__pic-big > img {
	max-width: 600px;
}

.features__link {
	font-size: 18px;
	font-weight: 300;
}

.header {
	position: fixed;
	/* position: relative; */
	top: 0;
	width: 100%;
	z-index: 100;
	-webkit-transition: background-color .25s, top .25s;
	-moz-transition: background-color .25s, top .25s;
	transition: background-color .25s, top .25s;
	text-align: center;
}

.header-fixed {
	/* position: fixed; */
	background-color: #ffffff;
	box-shadow: 0 2px 17px rgba(0,0,0,.15);
}
	
.header a {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	transition: all .25s;
}

.header__container {
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
	min-width: 1160px;
	width: 100%;
	max-width: 1160px;
	-webkit-transition: padding .25s;
	-moz-transition: padding .25s;
	transition: padding .25s;
}

.header__logo {
	float: left;
	display: inline-block;
	vertical-align: middle;
	padding-top: 15px;
	max-width: 350px;
}

.logo {
	border: 0;
	color: #ffffff;
	font-size: 3rem;
	line-height: 1;
	text-decoration: none
}

.logo:hover {
	color: #EE741D;
	text-decoration: none;
}

.header__nav {
	display: inline-block;
	vertical-align: middle;
}

.header__nav .nav {
	display: table-cell;
	vertical-align: middle;
}

.header__right {
	float: right;
	padding-top: 10px;
	text-align: right;
}

.header__item {
	display: inline-block;
	vertical-align: middle;
}

.header__phone {
	margin-right: 30px;
}

.phone {
	background: #f2f8fd;
	border-radius: 5px;
	color: #0C54A0;
	display: inline-block;
	font-size: 1.9rem;
	line-height: 1;
	padding: 1.05rem 1.45rem;
}

.lang {
	background: rgb(242, 248, 253, .55);
	border-radius: 50%;
	color: #0C54A0;
	display: inline-block;
	font-size: 1rem;
	line-height: 1;
	padding: 1.1rem .65rem .9rem;
	text-align: center;
	width: 30px;
}

.phone:hover {
	color: #EE741D;
	text-decoration: none;
}

.nav {
	display: block;
	margin: 0;
	padding: 0;
	max-width: 100%;
}
.nav__list {
	margin: 0;
	padding: 0;
}
.nav__item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 1.8rem;
	line-height: 6rem;
	margin-right: 30px;
}
.nav__item:last-child {
	margin-right: 0;
}
.nav__link {
	display: block;
	color: #ffffff;
}
.nav__link:hover {
	color: #EE741D;
}
.nav__link._active {
	border: 0;
	color: #EE741D;
}
.nav__link span {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.header-fixed .nav__link  {
	color: #0C54A0;
}

.header-fixed .logo {
	color: #0C54A0;
}